.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #E91E63;
    color: white;
    text-align: center;
  }
  body {
      margin: 0;
  }
  ul {
width: 100%;
left: 0;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:#E91E63;
margin-bottom: 25px;
}
li {
float: left;
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover {
background-color:#C51162;
}
.foto {
    padding: 10px;
}
h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 10px;
}
.icones {
    margin-left: 10px;
    margin-right: 10px;
}